body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Roboto;
}
.header {
  position: relative;
  color: white;
  height: 100vh;
  max-height: 1000px;
  i {
    display: none;
  }
  img {
    width: 100%;
    display: block;
    height: 100%;
  }
  .navbar {
    position: absolute;
    top: 10px;
    left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    h2 {
      font-size: 30px;
    }
    ul {
      display: flex;
      list-style: none;
      width: 40%;
      min-width: 400px;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.2s ease;
      }
      a:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
  .hero {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    border: 2px solid white;
    font-size: 2.5rem;
    width: 33%;
    min-width: 600px;
    min-height: 150px;
    padding: 20px;
    h1 {
      width: 90%;
      text-transform: uppercase;
      margin: 0px;
      font-weight: 200;
      color: rgb(255, 255, 255);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.caption {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 170px 0px 200px;
  .text {
    width: 30%;
    min-width: 450px;
    border: 1px solid white;
    position: relative;
    padding: 70px 0px 70px 70px;
    right: 120px;
    background-color: white;
    top: 140px;
    margin-bottom: 20px;
    h2 {
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    p {
      color: rgba(128, 128, 128, 0.9);
    }
  }
  img {
    width: 50%;
    max-height: 600px;
  }
}
.creations {
  width: 80%;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 300;
    }
    .seeAll {
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 0px 40px;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s ease;
      height: 40px;
    }
    .seeAll:hover {
      background-color: black;
      color: white;
    }
  }
  .seeAll2 {
    display: none;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
  margin-bottom: 100px;
  .up {
    display: flex;
    gap: 20px;
  }
  .low {
    display: flex;
    gap: 20px;
  }
}
.card {
  position: relative;
  flex-grow: 1;
  img {
    width: 100%;
    display: block;
  }
  p {
    position: absolute;
    margin: 0px;
    bottom: 30px;
    left: 30px;
    font-size: 2rem;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    width: 70%;
  }
}
.footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px 0;
    .left {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      h2 {
        margin: 0 0 10px 0;
        font-size: 25px;
      }
      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        padding: 0px;
        gap: 20px;
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.8);
        }
        a:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      .icons {
        display: flex;
        gap: 18px;
        a {
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none;
          font-size: 22px;
        }
      }
      p {
        color: rgb(128, 126, 126);
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    width: 100%;
    i {
      display: block;
      font-size: 1.5rem;
    }
    img {
      width: 100%;
      height: 98vh;
      object-fit: cover;
      object-position: top;
    }
    .navbar {
      width: 90%;
      top: 30px;
      left: 5%;
      ul {
        display: none;
      }
      h2 {
        margin: 0;
        font-size: 26px;
      }
    }
    .hero {
      width: 70%;
      left: 5%;
      top: 30%;
      font-size: 1.3rem;
      min-width: 80%;
    }
  }
  .caption {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 100px;
    .text {
      width: 90%;
      min-width: 90%;
      text-align: center;
      position: static;
      padding: 0px;
      h2 {
        font-size: 33px;
      }
    }
    img {
      width: 100%;
      min-width: 100%;
    }
  }
  .creations {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    .title {
      justify-content: center;
      h2 {
        font-size: 2rem;
      }
      .seeAll {
        display: none;
      }
    }
    .seeAll2 {
      display: block;
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 0px 40px;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s ease;
      height: 40px;
    }
    .seeAll2:hover {
      background-color: black;
      color: white;
    }
  }
  .cards {
    width: 100%;
    margin-bottom: 30px;
    .up {
      flex-direction: column;
    }
    .low {
      flex-direction: column;
    }
  }
  .card {
    img {
      width: 90vw;
      height: 160px;
      object-fit: cover;
      object-position: center;
    }
    p {
      font-size: 27px;
      width: 50%;
      bottom: 15px;
      left: 20px;
    }
  }
  .content {
    flex-direction: column;
    align-items: center;
    .left {
      h2 {
        margin-bottom: 20px !important;
      }
      ul {
        gap: 5px;
        flex-direction: column;
        align-items: center;
      }
    }
    .right {
      margin-top: 20px;
      .icons {
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
